{% extends 'base.html.twig' %}

{% block body %}
<div class="main">
    <div class="container-fluid">

        <div class="row">
            {% include 'components/navbar.html.twig' %}
        </div>

        <div class="row">
            <div class="col-6">
                <h3>Statistics</h3>

            </div>
            <div class="col-6">
                <h3>Assignment results</h3>
                {% include 'components/assignment-results.html.twig' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
