<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Score</th>
            <th scope="col">Grade</th>
            <th scope="col">Passed</th>
        </tr>
    </thead>
    <tbody>
        {% for name, student in testResults.receivedAnswers %}
            {% set passed = student.grade >= caesura.passingGrade %}
            <tr class="{{ passed ? 'text-success' : 'text-danger' }}">
                <th scope="row">{{ name }}</th>
                <td>{{ student.score }}</td>
                <td>{{ student.grade }}</td>
                <td>{{ passed ? 'Pass' : 'Fail' }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
