<nav class="navbar navbar-expand">
    <a class="navbar-brand" href="#">
        Student grades
    </a>
    <a class="nav-link" href="http://127.0.0.1:20020/build/data/Assignment.pdf" target="_blank">
        Assignment file
    </a>
    <a class="nav-link" href="http://127.0.0.1:20020/build/data/Assignment.xlsx" target="_blank">
        Data file
    </a>
</nav>
