@import "~bootswatch/dist/darkly/variables";

$pagination-bg: $primary;
$pagination-active-bg: lighten($primary, 10%);
$pagination-hover-bg: lighten($primary, 20%);
$pagination-disabled-bg: darken($primary, 20%);

.bg-primary {
  .navbar-nav .active > .nav-link {
    color: $primary !important;
  }
}

.bg-dark {
  background-color: $primary !important;
}
